<html>
  <body>
    <img src="chef.png">
    <h1>Kamal Chauhan - Solutions Consultant-DevOps</h1>
    <h2>HOSTNAME: <%= node['hostname'] %></h2>
    <h2>IPADDRESS: <%= node['ipaddress'] %></h2>
  </body>
</html>
